.subscribe {
  display: flex;
  justify-content: center;
  margin: 12rem 0;
  padding: 0 12.4rem;

  &__container {
    position: relative;
    width: 119.2rem;
    height: 31.2rem;
    border-radius: 3.2rem;
    overflow: hidden;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &__bg {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      object-fit: cover;
    }

    &__img-1 {
      position: absolute;
      height: 20.1rem;
      width: 20.5rem;
      object-fit: contain;
      top: 3.8rem;
      left: 4rem;
      z-index: -1;
    }

    &__img-2 {
      position: absolute;
      height: 19.4rem;
      width: 19.7rem;
      object-fit: contain;
      top: 4.4rem;
      right: 7rem;
      z-index: -1;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      text-align: center;
      max-width: 50rem;
      flex-shrink: 1;

      h2 {
        width: 90%;
      }
    }
  }
}
