.button {
  &,
  &:link,
  &:visited {
    font-family: "Lexend", sans-serif;
    border-radius: 10rem;
    transition: all 0.2s;
    text-decoration: none;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &--white {
    &,
    &:link,
    &:visited {
      border: solid 1px $color-white;
      padding: 0.8rem 1.6rem;
      background-color: rgba($color-white, 0.2);
      color: $color-white;
    }

    &:hover {
      background-color: rgba($color-white, 0.35);
    }
  }

  &--outline {
    &,
    &:link,
    &:visited {
      outline: solid 1px $color-primary-dark;
      padding: 1.2rem 2.4rem;
      color: $color-primary-dark;
    }

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &--filled {
    &,
    &:link,
    &:visited {
      padding: 1.2rem 2.4rem;
      color: $color-white;
      background-color: $color-primary;
    }

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--heart {
    svg {
      height: 2rem;
      width: 2rem;
      stroke: $color-primary-dark;
    }

    &:hover {
      background-color: $color-primary-light;
    }
  }
}

.active {
  background-color: $color-primary-light;
  color: $color-primary;
  outline: none;

  svg {
    fill: $color-primary;
  }
}

.heart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  transition: all 0.2s;

  svg {
    height: 2.4rem;
    width: 2.4rem;
    stroke: $color-primary-dark;
  }
}

.favorite-active {
  background-color: rgb(222, 119, 119);

  svg {
    stroke: $color-white;
    fill: $color-white;
  }
}
