.mini-article {
  display: flex;
  gap: 3.2rem;
  text-align: left;
  border-radius: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;

  &__img-container {
    height: 14.8rem;
    width: 20rem;
    flex-shrink: 0;

    overflow: hidden;
    border-radius: 1.6rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 1rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &__user {
      display: flex;
      align-items: center;
      gap: 1.6rem;

      &__img-container {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      p {
        width: max-content;
        color: $color-grey-3;
      }
    }

    &__date {
      display: flex;
      gap: 1.4rem;

      svg {
        height: 2.4rem;
        width: 2.4rem;
        fill: $color-grey-2;
      }
    }
  }

  h3 {
    width: 34.8rem;
  }

  &:hover {
    // box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    background: linear-gradient(
      90deg,
      rgba(18, 220, 136, 0.05) 35%,
      rgba(18, 220, 136, 0.116) 81%,
      rgba(0, 212, 255, 0.18923319327731096) 100%
    );
  }
}
