body {
  font-family: "Lexend", sans-serif;
  font-weight: 900;
  line-height: auto;
  color: $color-black;
}

//HEADINGS
.heading-1 {
  font-size: 4rem;
  font-weight: black;
  line-height: auto;
}

.heading-2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: auto;
}

.heading-3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: auto;
}

.heading-4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: auto;
}

//SUBTITLE
.subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: auto;
}

//BODY TEXT
.body-text-light {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.body-text-medium {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: auto;
}

.body-text-bold {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: auto;
}

//LABEL TEXT
.label-text-regular {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.label-text-regular-sm {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: auto;
}

.label-text-medium {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: auto;
}

.label-text-bold {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: auto;
}
