.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-top-small-2 {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.text-white {
  color: $color-white !important;
}

.text-primary {
  color: $color-primary !important;
}

.text-grey-2 {
  color: $color-grey-2 !important;
}

.text-grey-3 {
  color: $color-grey-3 !important;
}

.active {
  display: flex !important;
}
